.footer {
  border-top: 1px solid #00000010;
  border-bottom: 34px solid #5CBE3A;
  &__nav {
    padding: 40px 0 50px;
    display: flex;
    justify-content: space-between;
  }
  &__menu {
    display: flex;
    column-gap: 69px;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__item {
    @include text(500,22px,140%,#051101);
  }
  &__right {
    display: flex;
    column-gap: 23px;
  }
  &__icons {
    @include text(700,22px,140%,#051101);
    text-align: center;
    margin-right: 20px;
  }
  &__icon {
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #5CBE3A;
  }


}