.product {
  padding: 118px 0 184px;
  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    position: relative;
    &-desc {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #051101;
      opacity: 0.7;
      position: absolute;
      top: 65px;
      left: 50%;
      transform: translate(-50%);
    }
  }
  &__row {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    text-align: center;
  }
  &__column {
    display: flex;
    justify-content: center;
    row-gap: 20px;
    flex-direction: column;
    &-circle {
      position: relative;
      width: 362px;
      height: 362px;
      border-radius: 50%;
      border-bottom: 1px solid #5CBE3A80;
      background: linear-gradient(360deg, #5CBE3A -33.55%, rgba(92, 190, 58, 0.0860215) 4.82%, rgba(92, 190, 58, 0) 37.59%);
      &-img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:after {
        content: url("../images/shadow.png");
        position: absolute;
        top: 223px;
        left: 50%;
        transform: translate(-50%);
      }
    }
    &-name {
      font-weight: 500;
      font-size: 22px;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
    }
    &-price {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      text-align: center;
      color: #000000;
    }
  }
}